.home-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1000px) {
    .home-container {
        flex-direction: column;
    }
}